@import "./variables.scss";

.App2Mainkeyword {
  display: flex;
  flex-direction: row;
  background-color: #f3f5f8;
}
.keyword-title {
  text-orientation: upright;
  border-radius: 5px;
  background-color: #e9333c;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  width: 30%;
  padding: 1.8px;
}
.keyword-contents-box {
  display: flex;
  justify-content: space-around;
}
.keyword-contents-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.keyword-contents-img {
  padding: 3.5px 5px 0 0;
  width: 4.5vw;
  &.box {
    width: 8vw;
  }
}

// .keyword-box {
//   display: flex;
//   flex-direction: row;
//   margin: 0 auto;
//   padding: 5.4px;
//   border-radius: 6.5px;
//   background-color: #f3f5f8;
//   height: 23px;
// }
// .keyword-highlight {
//   text-orientation: upright;
//   border-radius: 5px;
//   width: 30%;
//   background-color: #e9333c;
//   font-family: NanumSquareB;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.9;
//   letter-spacing: -0.4px;
//   color: #ffffff;
//   text-align: center;
//   vertical-align: middle;
//   font-size: 13px;
//   padding: 0 1.8px 1.8px 3px;
// }
// .keyword-contents-text {
//   width: 35vw;
//   padding: 3px 5px 0 0;
//   font-size: 13px;
// }
// .keyword-contents-image {
//   padding: 3.5px 5px 0 0;
//   width: 4.5vw;
//   &.box {
//     width: 8vw;
//     padding: 3.5px 10px 0 0;
//   }
// }
