body {
  margin: 0px;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 100%;
  width: 5.2px;
  background-color: #efefef;
} /* 스크롤 바 */

::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
} /* 실질적 스크롤 바 */
