@charset "utf-8";
@import url(app2.scss);
@import url(App2PhishingCase.scss);
@import url(App2PhishingMain.scss);
@import url(phishingcase.scss);

.main-wrapper {
  margin: auto;
  max-width: 720px;
  min-width: 360px;
}
img {
  width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
	li {
		padding: 0;
  	margin: 0;
		outline: none;
		background: none;
	}
}

button {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: none;
	appearance: none;
	-webkit-appearance: none;
}

p {
	padding: 0;
	margin: 0;
}